* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1542549237432-a176cb9d5e5e?q=80&w=1907&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: 50px;
  text-shadow: 0px 0px 50px black;
  color: white;
  font-weight: 700;
}
.r-c-p-img {
  height: 50px;
  width: 50px;
}

.main {
  position: relative;
  height: 500px;
  width: 600px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px whitesmoke;
}
.btn {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  top: 30px;
  right: 20px;
  border-radius: 30%;
}
.btn button {
  border: none;
  background-color: transparent;
}
.fa-music {
  font-size: 40px;
  transform: translate(6px, 6px);
  animation: dance 1.5s linear infinite;
}
@keyframes dance {
  10% {
    transform: translatex(5px);
  }
  50% {
    transform: translatey(6px);
  }
  75% {
    transform: translatex(3px);
  }
  90% {
    transform: translatey(7px);
  }
}

.move-btn {
  background-color: transparent;
  margin: 50px 50px;
  padding: 20px;
  border: 3px solid white;
  border-radius: 47%;
}

.move-btn:hover {
  cursor: pointer;
  border: 3px solid rgba(246, 93, 93, 0);
  transition: border 1.5s;
}
.move-btn:hover img {
  transform: scale(1.5);
  transition: 1s;
}

.result {
  text-align: center;
  font-size: 50px;
  text-shadow: 0px 0px 10px black;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.move {
  margin: 5px 100px;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.score {
  text-align: center;
  text-transform: capitalize;
}

.reset {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  border: 4px solid white;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
}

.reset:hover {
  border-color: red;
  color: red;
  cursor: pointer;
  transition: 0.5s;
}

.autoplay-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 25px;
  border: 4px solid white;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
}
.autoplay-btn:hover {
  color: green;
  cursor: pointer;
  border-color: green;
  transition: 0.5s;
}
